import(parallel);
import(methods);
import(stats);
import(graphics);
import(grDevices);
import(utils);
import(mvtnorm);
import(snpStats);
import(minpack.lm);

export(fg.simulate)
export(fg.load.plink)
export(fg.load.simple)
export(fg.load.phenotype)
export(fg.snpscan)
export(fg.select.sigsnp)
export(fg.data.estimate)
export(plot.fgwas.curve)
export(profile.fgwas.curve)

S3method(print, fgwas.gen.obj)
S3method(summary, fgwas.gen.obj)
S3method(print, fgwas.phe.obj)
S3method(summary, fgwas.phe.obj)
S3method(print, fgwas.scan.obj)
S3method(summary, fgwas.scan.obj)
S3method(plot, fgwas.scan.obj)
S3method(plot, fgwas.phe.obj)

exportClasses("fg.dm.genodata")
exportClasses("fg.dm.plink")
exportClasses("fg.dm.simple")

